.tipoAlimento{
    background-color: orange;
}
#selectTA2{
    color: black;
    border-color:whitesmoke;
    border-style: solid;
    border-width: 1px;
}
#selectTA10{
    color: orange;
    border-color:orange;
}