* { margin:0; padding:0; box-sizing:border-box; }
.radio{
    position: fixed;
background-color: gray;
    top: 160px;
}
body{
    background-color: lightseagreen;
}
.wrap{
    margin-left: 40px;
}
.wrap h2{
    position: fixed;
    top: 120px;
    left: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.calculadora input[type="radio"]{
    display: none;
}
.calculadora .radio label{
    color: #0774D9;
    background: black;
    padding: 5px 15px 5px 48px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    }
.calculadora .radio label:hover{
    background: rgba(0,116,217,0.2);
    color: black;
}
.calculadora .radio label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0774D9;
    border-radius:50%;
    position: absolute;
    left: 12px;
    top: 3px;
}
.calculadora input[type="radio"]:checked + label{
    padding: 5px 15px;
    background: #0774D9;
    border-radius: 2px;
    color: blanchedalmond;
}
.calculadora input[type="radio"]:checked + label::before{
    display: none;
}
.genero{
    display: inline-block;
    text-align: center;
    width: 240px;
    padding-bottom: 3px;
    border-bottom: 2px dotted black;
    border-right: 2px dotted black;
}
.genero:hover{
    outline: solid 2px white;
    transition: all 0.3s;
}
.fActividad{
    margin-left: 0px;
    display: inline-block;
    text-align: center;
    border-left: 2px dotted black;
    width: 620px;
    border-bottom: 2px dotted black;
    padding-bottom: 3px;
}
.fActividad:hover{
    outline: solid 2px white;
    transition: all 0.3s;
}
.datosGral{
    height: 250px;
    background: gray;
    margin-top: 20px;
}

.datosGral input[type="number"]{
    margin-left: 30px;
    background: black;
    color: green;
    font-weight: bold;
    text-align: center;
}
#cpd1{
    margin-left: 45px;
}
#btnCPD{
    width: 70PX;
    height: 40px;
    border-radius: 15%;
    margin-left: 55px;
    font-size: small;
    background-color: black;
    color: white;
    font-weight: bold;
    outline: white 1px solid;
    cursor: pointer;
}
#btnCPD:hover{
    color: red;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: white 2px solid;
}
#lascalorias{
    margin-top: 10px;
    margin-left: 95px;
    display: inline-block;
    text-align: center;
}
.resultados input[type="text"]{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    margin-left: 85px;
    margin-top: 10px;
}
#m{
    margin-left: 100px;
}
#c3{
    right: 74px;
    top: 68px
}