* { margin:0; padding:0; box-sizing:border-box; }
.rellenotp{
    width: 100%;
    height: 110px;
    background-color: black;
}
/*-------------------*/
/*-----Cajas---------*/
.cuerpoCaj{
    float: left;
}
#c1{
    width: 13%;
    height: 555px;
    background-color: white;
    margin-left: 4px;
}
.contenidoC2{
    display: inline-block;
    width: 31.82%;
    height: 450px;
    background-color: black;
    margin: 80px 5px 0px 5px;
}
#c2{
    width: 65%;
    height: 555px;
    background-color: #009468;
}
#c3{
    position: fixed;
    right: 12px;
    width: 20%;
    height: 390px;
    background-color: #fcff55;
    margin: 50px 0px 0px 10px;
}