* { margin:0; padding:0; box-sizing:border-box; }
.rellenotp{
    width: 100%;
    height: 110px;
    background-color: black;
}
/*-------------------*/
/*-----Cajas---------*/
.cuerpoCaj{
    float: left;
}
#c1{
    width: 13%;
    height: 555px;
    background-color: white;
    margin-left: 4px;
    list-style: none;
    font-weight: bold;
    font-style: italic;
}
#c1 li {
    text-align: center;
    font-size: medium;
}
#c1 li a {
    
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: whitesmoke;
    display: block;
    background-color: purple;
    margin: 13px 8px;
}
.cuerpoCaj #enlaceF1{
    padding: 19px 2px;
    background-color: red;
    color: white;
}
.cuerpoCaj #enlaceF2 {
    padding: 10px 2px;
    background-color: #f16600;
    color: black;
}
.cuerpoCaj #enlaceF3{
    padding: 19px 2px;
    background-color: #83df00;
    color: black;
}
.cuerpoCaj #enlaceF4{
    padding: 10px 2px;
    background-color: #0b6a00;
    color: black;
}
.cuerpoCaj #enlaceF5{
    padding: 10px 2px;
    background-color: #2d00c9;
    color: white;
}
.cuerpoCaj #enlaceF6{
    padding: 10px 2px;
    background-color: #00add4;
    color: black;
}
.cuerpoCaj #enlaceF7{
    padding: 10px 2px;
    background-color: #edff00;
    color: black;
}
.cuerpoCaj #enlaceF8{
    padding: 10px 2px;
    background-color: #f3ff55;
    color: black;
}
.contenidoC2{
    display: inline-block;
    width: 31.82%;
    height: 450px;
    background-color: black;
    margin: 80px 5px 0px 5px;
}
#c2{
    width: 65%;
    height: 555px;
    background-color: #009468;
}
#c3{
    position: fixed;
    right: 12px;
    width: 20%;
    height: 390px;
    background-color: #fcff55;
    margin: 50px 0px 0px 10px;
}