body{
    background: white;
}
footer{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footerContainer{
    width: 100%;
    background-color: #272727;
    color: #fff;
}
.footerMain{
    width: 98%;
    max-width: 1000px;
    margin:auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.footerMain .footerColumna{
    width: calc(100% / 4);
    text-align: justify;
}
#contact{
    margin-left: 50px;
}
.xd{
    height: 129px;
    width: 100%;
    text-align: center;
}
.contenidoC2{
    text-align: center;
}
#img2{
    margin-top: 20px;
    margin-left: 44px;
    border-radius: 4px;
}
.contenidoC2 h3{
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

