* { margin:0; padding:0; box-sizing:border-box; }
/*Casillas de selección*/
.tipoAlimento{
    position: fixed;
    left: 1px;
    top: 64px;
    width: 21.5%;
    height: 540px;
    background-color: gray;
    margin: 54px 0px 0px 10px;
    text-align: center;
    border-radius: 6px;
}
.tipoAlimento li{
    text-decoration: none;
    list-style: none;
}
.tipoAlimento li a{
    padding: 20px;
    float: left;
    text-decoration: none;
    background-color: purple;
    border-style: solid;
    width: 45%;
    height: 75px;
    border-width: 0.5px;
    border-style: solid;
    border-color: wheat;
    margin: 24px 0px 0px 10px;
    font-size: medium;
    font-weight: bold;
    color: black;
    border-radius: 6px;
}
.tipoAlimento li a:hover{
    outline: floralwhite;
    outline-width: medium;
    outline-style: groove;
    transition: all 0.1s;
}
#selectTA1{
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;
}
#selectTA2{
    background-color: gray;
    border: gray;
    color: gray;
}
#selectTA3{
    background-color: red;
    color: cornsilk;
}
#selectTA4{
    background-color:green;
}
#selectTA5{
    background-color: blue;
    color: lightgray;
}
#selectTA6{
    background-color: yellow;
}
#selectTA7{
    background-color: rgb(230, 26, 60);
}
#selectTA8{
    background-color: rgb(37, 187, 24);
}
#selectTA9{
    background-color: lightseagreen;
}
#selectTA10{
    background-color: orange;
}
/*Fin de casillas de selección*/
.Elementos{
    width: 76%;
    display: inline-block;
    height: auto;
    margin: 120px 0px 0px 304px;
    background-color: #009468;
    border-radius: 6px;
}
.elementoInside{
    display: inline-block;
    background-color: black;
    width: 18%;    
    height: 180px;
    margin: 15px 0px 0px 14px;
    border-radius: 6px;
}
.Elementos :hover{
    outline-color: white;
    outline-width: 4px;
    outline-style: auto;
    transition: all 1s;
}