.tipoAlimento{
    background-color: rgb(37, 187, 24);
}
#selectTA2{
    color: black;
    border-color:whitesmoke;
    border-style: solid;
    border-width: 1px;
}
#selectTA8{
    color: rgb(37, 187, 24);
    border-color:rgb(37, 187, 24);
}