.tipoAlimento{
    background-color: blue;
}
#selectTA2{
    color: black;
    border-color:whitesmoke;
    border-style: solid;
    border-width: 1px;
}
#selectTA5{
    color: blue;
    border-color:blue ;
}