.tipoAlimento{
    background-color: green;
}
#selectTA2{
    color: black;
    border-color:whitesmoke;
    border-style: solid;
    border-width: 1px;
}
#selectTA4{
    color: green;
    border-color:green ;
}